In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

MessageError: ignored

In [ ]:
import pandas as pd

In [ ]:
DatasetBaseFolder = '/content/gdrive/My Drive/Rohit Singavarapu/panda dataset/'

In [ ]:
movies_df = pd.read_csv(DatasetBaseFolder+"IMDB-Movie-Data.csv", index_col="Title")

In [ ]:
#Lets see first 7 rows
movies_df.head(7)

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0
The Great Wall              6  ...      42.0
La La Land                  7  ...      93.0

[7 rows x 11 columns]

In [ ]:
#Lets see last 8 rows
movies_df.tail(8)

                          Rank  ... Metascore
Title                           ...
Take Me Home Tonight       993  ...       NaN
Resident Evil: Afterlife   994  ...      37.0
Project X                  995  ...      48.0
Secret in Their Eyes       996  ...      45.0
Hostel: Part II            997  ...      46.0
Step Up 2: The Streets     998  ...      50.0
Search Party               999  ...      22.0
Nine Lives                1000  ...      11.0

[8 rows x 11 columns]

In [ ]:
movies_df.shape

(1000, 11)

In [ ]:
#To get an overview of the dataset
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [ ]:
#If you want to remove duplicate instances
movies_df = movies_df.drop_duplicates(keep = 'first') #Drop all instances keep = false inplace=True

In [ ]:
#If you wish to rename columns
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
movies_df.rename(columns = {'Runtime (Minutes)' : 'Runtime', 'Revenue (Millions)' : 'Revenue_millions'}, inplace=True)
movies_df.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue_millions', 'Metascore'],
      dtype='object')

In [ ]:
#To count number of null entries in each colum
movies_df.isnull().sum()

Rank                  0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime               0
Rating                0
Votes                 0
Revenue_millions    128
Metascore            64
dtype: int64

In [ ]:
movies_dfTmp = movies_df.dropna(axis=0) #To drop instances with null values
movies_dfTmp.shape
#movies_df.shape

(838, 11)

In [ ]:
movies_dfTmp = movies_df.dropna(axis=1) #To drop columns containing null values
movies_dfTmp.shape

(1000, 9)

In [ ]:
movies_df.shape

(1000, 11)

In [ ]:
#Imputing with Mean
revenue = movies_df['Revenue_millions']
revenue.head(5)

Title
Guardians of the Galaxy    333.13
Prometheus                 126.46
Split                      138.12
Sing                       270.32
Suicide Squad              325.02
Name: Revenue_millions, dtype: float64

In [ ]:
meanRev = revenue.mean(0)
revenue.fillna(meanRev, inplace=True)
movies_df.isnull().sum() #Note that this get updated

Rank                 0
Genre                0
Description          0
Director             0
Actors               0
Year                 0
Runtime              0
Rating               0
Votes                0
Revenue_millions     0
Metascore           64
dtype: int64

In [ ]:
#Describ the Dataset
movies_df.describe()

              Rank         Year  ...  Revenue_millions   Metascore
count  1000.000000  1000.000000  ...       1000.000000  936.000000
mean    500.500000  2012.783000  ...         82.956376   58.985043
std     288.819436     3.205962  ...         96.412043   17.194757
min       1.000000  2006.000000  ...          0.000000   11.000000
25%     250.750000  2010.000000  ...         17.442500   47.000000
50%     500.500000  2014.000000  ...         60.375000   59.500000
75%     750.250000  2016.000000  ...         99.177500   72.000000
max    1000.000000  2016.000000  ...        936.630000  100.000000

[8 rows x 7 columns]

In [ ]:
#if you want to count
movies_df['Genre'].value_counts()

Action,Adventure,Sci-Fi      50
Drama                        48
Comedy,Drama,Romance         35
Comedy                       32
Drama,Romance                31
                             ..
Sci-Fi,Thriller               1
Adventure,Biography,Crime     1
Crime,Drama,Music             1
Comedy,Family,Musical         1
Animation,Drama,Romance       1
Name: Genre, Length: 207, dtype: int64

In [ ]:
#Correlation
movies_df.corr()  #Note the attributes in  S

                      Rank      Year  ...  Revenue_millions  Metascore
Rank              1.000000 -0.261605  ...         -0.252996  -0.191869
Year             -0.261605  1.000000  ...         -0.117562  -0.079305
Runtime          -0.221739 -0.164900  ...          0.247834   0.211978
Rating           -0.219555 -0.211219  ...          0.189527   0.631897
Votes            -0.283876 -0.411904  ...          0.607941   0.325684
Revenue_millions -0.252996 -0.117562  ...          1.000000   0.133328
Metascore        -0.191869 -0.079305  ...          0.133328   1.000000

[7 rows x 7 columns]

In [ ]:
#slicing along columns
subset = movies_df[['Genre', 'Rating']]
type(subset)

In [ ]:
#Slicing along rows
movies_df.loc['Prometheus'] #using key index
movies_df.iloc[1] #using numerical index